{% extends "base.html" %}

{% block banner %}
<section class="hero">
<div class="wrapper">
    <form class="search-form">
        <label for="search-field">What do you want to hear?</label>
        <input type="text" id="search-field" name="q">
        <button><i class="fi-magnifying-glass"></i><span class="">Search</span></button>
       
    </form>
    <div class="cloudtag">
        <a href="{% url 'years_show' year_start=1970 year_end=1980 %}">70's</a>
        <a href="{% url 'years_show' year_start=1980 year_end=1990 %}">80's</a>
        <a href="{% url 'years_show' year_start=1990 year_end=2000 %}">90's</a>
        <a href="{% url 'years_show' year_start=2000 year_end=2010 %}">00's</a>
        <a href="{% url 'years_show' year_start=2010 year_end=2020 %}">10's</a>
    </div>
</div>
</section>

{% endblock %}

{% block content %}

<h2>Best new albums</h2>

{% if albums %}
    
    <ul class="album-list">
    {% for album in albums %}
        <li class="column third">
            <div class="media album-item">
                <figure>
					<img src="{{ album.cached_cover }}" width="300" height="300" alt="{{ album.name }}">
					<figcaption>
                        <h3><a href="{% url 'albums_show' album.id %}">{{ album.name }}</a></h3>
                        <div><a href="{% url 'bands_show' album.band.id %}">{{ album.band.name }}</a></div>
						<a href="http://www.metal-archives.com/albums/_/_/{{ album.id }}" target="_blank">Metal archives</a> /
						<a href='spotify:search:{{ album.encoded_query|urlencode }}'>Spotify</a>
					</figcaption>
				</figure>
            </div>
        </li>
    {% endfor %}
    </ul>
    
{% endif %}

{% endblock %}